.navbar {
  width: 65px;
  height: 100%;
  background: #16161e;
  position: absolute;
  top: 0;

//  .navbarCont {
//    display: block;
//    position: absolute;
//    width: 100%;
//    text-align: center;
//    top: 40%;
//
//    .navbarContHome {
//      font-size: 24px;
//      display: block;
//      position: relative;
//      text-decoration: none;
//      padding: 10px 0;
//      color: #afb4da;
//
//      &:hover {
//        background: #f96789;
//        color: #0c0c13;
//      }
//    }
//    
//    .navbarContAbout {
//      font-size: 24px;
//      display: block;
//      text-decoration: none;
//      position: relative;
//      padding: 10px 0;
//      color: #afb4da;
//
//      &:hover {
//        background: #34b7b0;
//        color: #0c0c13;
//      }
//    }
//
//    .navbarContGit {
//      font-size: 24px;
//      display: block;
//      text-decoration: none;
//      position: relative;
//      padding: 10px 0;
//      color: #afb4da;
//
//      &:hover {
//        background: #e4ab53;
//        color: #0c0c13;
//      }
//
//    }
//  }
}
